torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
transformers==4.53.1
accelerate==1.8.1
sentence-transformers==5.0.0
pandas==2.3.1
nltk==3.9.1
langchain==0.3.27
langchain-chroma==0.2.5
langchain-text-splitters==0.3.9
langchain_community==0.3.27
chromadb==1.0.15
spacy==3.8.7
openpyxl==3.1.5
peft==0.17.0
bitsandbytes==0.46.1
pysqlite3-binary
streamlit==1.47.1
